/*-----------------------------------------\
	About
\-----------------------------------------*/
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 20px 50px 0;
  margin: 0 0px 50px 0;
}

.aboutBlock .content .icon {
  font-size: 40px;
  /* color: #1890ff; */
}

.aboutBlock .content img {
  /* border: 3px solid var(--color-01);
  border-radius: 500px;
  padding: 2px; */
  width: 200px;
  margin: 0 0 14px 0;
}

.aboutBlock .content h3 {
  color: var(--color-01);
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

.aboutBlock .ant-row {
  display: flex;
  justify-content: center;
}

/*-----------------------------------------\
	Block (App.css)
\-----------------------------------------*/
/*
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}
*/

/*-----------------------------------------\
	Title Holder (App.css)
\-----------------------------------------*/
/*
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: '';
  background: #1890ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 30px;
  margin: 0;
}
*/

/*-----------------------------------------\
	Responsive
\-----------------------------------------*/

@media (max-width: 1260px) {
  .container-fluid {
    width: 90%;
  }
}

@media (max-width: 660px) {
  
}

@media (max-width: 560px) {
  
}

@media (max-width: 560px) {
  
}

@media (max-width: 350px) {
  
}

@media (max-width: 280px) {
  
}