/*-----------------------------------------\
	Contact
\-----------------------------------------*/
.contactBlock .ant-form {
  max-width: 600px;
  margin: auto;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}