/*-----------------------------------------\
	Contact
\-----------------------------------------*/
.contact-block .ant-form {
  max-width: 600px;
  margin: auto;
}

.contact-block .ant-form textarea {
  min-height: 120px;
  height: 120px;
}