/*-----------------------------------------\
	Prices
\-----------------------------------------*/

.prices-block .title-holder {
  margin: 0px 0 56px 0 !important;
}

.prices-block .ant-list {
  text-align: center;
}

.prices-block .ant-row > div:nth-child(2) .ant-list-item {
  box-shadow: 0 0 12px 2px #f3f3f3 ;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.prices-block .ant-row {
  width: 100% !important;
}

.prices-block .ant-card-head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  height: 55px;
}

.prices-block .price {
  font-size: 38px;
  margin-top: -5px;
  letter-spacing: -1px;
}

.prices-block p {
  margin: 0 0 7px 0;
}

.prices-block .coin {
  font-size: 12px;
}

.prices-block .large {
  font-size: 38px;
  line-height: 1;
  margin: 0 0 20px;
}

.prices-block .fab {
  margin: 0 10px 0 0;
}

.prices-block .large {
  margin: 0 0 16px 0;
}

.prices-block .content-holder {
  color: yellowgreen;
}


/*-----------------------------------------\
	Responsive
\-----------------------------------------*/
@media only screen and (max-width: 991px) {
  .prices-block .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .prices-block .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }
}